name: CI

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - '1.3'
          - '1'
        os:
          - ubuntu-latest
        arch:
          - x64
        group:
          - Others
          - ForwardDiff
          - Tracker
          - ReverseDiff
          - Zygote
        include:
          - version: '1'
            os: macOS-latest
            arch: x64
            group: Others
          - version: '1'
            os: macOS-latest
            arch: x64
            AD: ForwardDiff
          - version: '1'
            os: macOS-latest
            arch: x64
            AD: Tracker
          - version: '1'
            os: macOS-latest
            arch: x64
            AD: ReverseDiff
          - version: '1'
            os: macOS-latest
            arch: x64
            AD: Zygote
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        with:
          coverage: false
        env:
          GROUP: ${{ matrix.group }}
